$bg__header: #008D38;
$cor__verde__fraca: #0ec5575e;
$cor__branca: #f5f5f5;

.perfil__container{
    header{
        .perfil__dados{
            background-color: $bg__header;
            width: 100%;
            height: auto;
            padding: 40px 30px 140px 30px;
            border-bottom-left-radius: 70px;
            border-bottom-right-radius: 70px;

            h2{
                color: $cor__branca;
                font-size: 21px;
                font-weight: 600;
            }

            div.perfil__logo{
                background-color: $cor__branca;
                width: 110px;
                height: 110px;
                border-radius: 50%;
                margin: 40px auto 20px auto;
                position: relative;

                svg{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 55px;
                    height: 55px;
                }
            }

            h3{
                font-size: 24px;
                font-weight: 600;
                color: $cor__branca;
                text-align: center;
            }

            .perfil__posicao{
                margin-top: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                h3{
                    font-size: 18px;
                    font-weight: 400;

                    &:last-child{
                        background-color: $cor__verde__fraca;
                        padding: 8px 10px;
                        border-radius: 12px;
                        margin-left: 15px;
                    }
                }
            }
        }

        .perfil__cards__jogos{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            width: 400px;
            height: auto;
            position: relative;
            top: -100px;

            .perfil__card__unico{
                position: relative;
                left: 50%;
                transform: translateX(-53%);
                width: 160px;
                max-width: 90%;
                height: auto;
                border: 1px solid #c3c1c1;
                box-shadow: 1px 0 0 1px rgba(0,0,0,0.1);
                border-radius: 10px;
                background-color: $cor__branca;
                padding: 20px;

                &:nth-of-type(3),
                &:nth-of-type(4){
                    margin-top: 20px;
                }

                svg{
                    width: 30px;
                    height: 30px;
                }

                h2{
                    font-weight: 400;
                    margin-top: 7px;
                }

                h3{
                    font-size: 16px;
                    margin-top: 7px;
                    font-weight: 300;
                    color: $bg__header;
                }
            }
        }
    }
}