$bg__header: #008D38;
$cor__verde__fraca: #0ec5575e;
$cor__branca: #fff;
$cor__branco__azulado: #F9FAFB;
$cor__verde__svg__fundo: #DAF7E7;
$cor__roxa__svg__fundo: #DBEAFE;
$cor__lilas__svg__fundo: #F3E8FF;
$cor__branca__fraca__h2__descricao: #777;
$cor__branca__fraca__h3__descricao: #333;
$cor__bg__jogo__recente__unico: #F9FAFB;
$cor__laranja: #A66003;
$cor__amarela: #FDF4C2;
$cor__amarelo__fraco: #FEFBE9;

.perfil__container{
    background-color: $cor__branco__azulado;
    padding-bottom: 100px;

    header{
        .perfil__dados{
            background-color: $bg__header;
            width: 100%;
            height: auto;
            padding: 40px 30px 140px 30px;
            border-bottom-left-radius: 70px;
            border-bottom-right-radius: 70px;

            h2{
                color: $cor__branca;
                font-size: 21px;
                font-weight: 600;
            }

            div.perfil__logo{
                background-color: $cor__branca;
                width: 110px;
                height: 110px;
                border-radius: 50%;
                margin: 40px auto 20px auto;
                position: relative;

                svg{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 55px;
                    height: 55px;
                }
            }

            h3{
                font-size: 24px;
                font-weight: 600;
                color: $cor__branca;
                text-align: center;
            }

            .perfil__posicao{
                margin-top: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                h3{
                    font-size: 18px;
                    font-weight: 400;

                    &:last-child{
                        background-color: $cor__verde__fraca;
                        padding: 8px 10px;
                        border-radius: 12px;
                        margin-left: 15px;
                    }
                }
            }
        }

        .perfil__cards__jogos{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
            width: 380px;
            max-width: 100%;
            height: auto;
            position: relative;
            top: -100px;
            margin: 0 auto;

            .perfil__card__unico{
                width: 160px;
                max-width: 90%;
                height: auto;
                border: 1px solid #c3c1c1;
                box-shadow: 1px 0 0 1px rgba(0,0,0,0.1);
                border-radius: 10px;
                background-color: $cor__branca;
                padding: 20px;
                margin-left: 15px;

                &:nth-of-type(3),
                &:nth-of-type(4){
                    margin-top: 20px;
                }

                svg{
                    width: 30px;
                    height: 30px;
                }

                h2{
                    font-weight: 400;
                    margin-top: 7px;
                }

                h3{
                    font-size: 16px;
                    margin-top: 7px;
                    font-weight: 300;
                    color: $bg__header;
                }
            }
        }
    }

    .card__contato{
        margin-top: -70px;
        padding: 0 15px;
        width: 100%;
        height: auto;

        .cards__contato__wrapper{
            background-color: $cor__branca;
            width: 100%;
            height: auto;
            padding: 20px;
            border: 1px solid #c3c1c150;
            border-radius: 10px;
            box-shadow: 1px 0 0 1px rgba(0,0,0,0.1);

            h2{
                font-size: 19px;
                font-weight: 500;
            }

            .contato__unico{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 16px;

                &:first-of-type{
                    margin-top: 15px;

                    .contato__unico__image{
                        background-color: $cor__verde__svg__fundo;    
                    }
                }

                &:nth-of-type(2){
                    .contato__unico__image{
                        background-color: $cor__roxa__svg__fundo;

                        svg{
                            width: 26px;
                            height: 26px;
                        }
                    }
                }

                &:nth-of-type(3){
                    margin-bottom: 0;

                    .contato__unico__image{
                        background-color: $cor__lilas__svg__fundo;
                    
                        svg{
                            width: 26px;
                            height: 26px;
                        }
                    }
                }

                .contato__unico__image{
                    padding: 8px 10px;
                    border-radius: 15px;

                    svg{
                        width: 28px;
                        height: 28px;
                    }
                }

                .contato__titulo__descricao{
                    margin-left: 15px;

                    h2{
                        font-size: 15px;
                        font-weight: 400;
                        color: $cor__branca__fraca__h2__descricao;
                    }

                    h3{
                        margin-top: 4px;
                        font-weight: 400;
                        color: $cor__branca__fraca__h3__descricao;
                    }
                }
            }
        }
    }

    .card__jogos__recentes{
        margin-top: 30px;
        padding: 0 15px;
        width: 100%;
        height: auto;

        .cards__jogos__wrapper{
            background-color: $cor__branca;
            width: 100%;
            height: auto;
            padding: 20px;
            border: 1px solid #c3c1c150;
            border-radius: 10px;
            box-shadow: 1px 0 0 1px rgba(0,0,0,0.1);

            h2{
                font-size: 19px;
                font-weight: 500;
            }

            .card__jogo__unico{
                background-color: $cor__bg__jogo__recente__unico;
                display: flex;
                flex-direction: column;
                padding: 20px 40px 20px 20px;
                border-radius: 15px;
                margin-bottom: 15px;

                &:first-of-type{
                    margin-top: 10px;
                }

                &:nth-last-of-type{
                    margin-bottom: 0;
                }

                .jogo__data__time__status{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .data__time{
                        display: flex;
                        flex-direction: column;

                        h3{
                            font-size: 16px;
                            color: $cor__branca__fraca__h2__descricao;
                            font-weight: 400;
                        }

                        h2{
                            font-size: 21px;
                            font-weight: 400;
                            color: $cor__branca__fraca__h3__descricao;
                            margin-top: 5px;
                        }
                    }

                    .status{
                        padding: 10px 15px;
                        border-radius: 10px;
                        background-color: $cor__amarela;

                        h3{
                            font-weight: 500;
                            color: $cor__laranja;
                        }
                    }
                }

                .jogo__pontuacao{
                    margin-top: 4px;

                    h3{
                        font-size: 15px;
                        font-weight: 500;
                        color: $cor__branca__fraca__h2__descricao;
                    }
                }

                &:first-of-type,
                &:last-of-type{
                    .jogo__data__time__status{
                        .status{
                            background-color: $cor__verde__fraca;

                            h3{
                                color: $bg__header;
                            }
                        }
                    }
                }
            }
        }
    }

    .card__conquistas{
        margin-top: 30px;
        padding: 0 15px;
        width: 100%;
        height: auto;

        .card__conquista__wrapper{
            background-color: $cor__branca;
            width: 100%;
            height: auto;
            padding: 20px;
            border: 1px solid #c3c1c150;
            border-radius: 10px;
            box-shadow: 1px 0 0 1px rgba(0,0,0,0.1);

            .conquista__titulo{
                display: flex;
                flex-direction: row;
                align-items: center;

                svg{
                    width: 25px;
                    height: 25px;
                }

                h2{
                    font-size: 19px;
                    font-weight: 500;
                    margin-left: 8px;
                }
            }

            .cards__conquistas__box{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
                width: 400px;
                max-width: 100%;
                margin: 10px auto 0 auto;

                .card__conquista__unico{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    background-color: $cor__amarelo__fraco;
                    border-radius: 15px;
                    margin-bottom: 20px;
                    margin-right: 20px;
                    padding: 20px;

                    &:nth-of-type(3),
                    &:nth-of-type(6){
                        margin-right: 0;
                    }

                    &:nth-of-type(4),
                    &:nth-of-type(5),
                    &:nth-of-type(6){
                        margin-bottom: 0;
                    }
                    
                    svg{
                        width: 30px;
                        height: 30px;
                        margin: 0 auto;
                        margin-bottom: 10px;
                    }

                    h3{
                        font-size: 14px;
                        font-weight: 400;
                        color: $cor__branca__fraca__h3__descricao;
                    }
                }
            }
        }
    }

    footer{
        position: fixed;
        bottom: 0;
        left: 0;
    }
}