$bg__color: #134DEB;
$color__text: #333;
$bg__color__button: #0b3eac;
$mancha__verde: #00A069;
$color__text: #f8f8f8;
$bg__color__input: #ebe8e8;
$border__color__input: #d9d9d9;
$color__h2__form: #333;

.iniciar__sessao__container{
    background-color: $bg__color;
    width: 100dvw;
    min-height: 100dvh;
    height: auto;
    position: relative;

    header{
        padding: 15px 20px 30px 20px;
        width: 100%;

        img{
            width: 120px;
            height: 120px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        h1{
            text-align: center;
            font-weight: 600;
            color: $color__text;
        }

        h3{
            text-align: center;
            font-weight: 300;
            color: $color__text;
            font-size: 17px;
            padding-top: 10px;
        }
    }

    main{
        padding: 0 10px;

        form{
            background-color: $color__text;
            border-radius: 20px;
            padding: 20px 15px;
            position: relative;

            h2{
                font-size: 24px;
                font-weight: 500;
                color: $color__h2__form;
            }

            .form__camp{
                display: flex;
                flex-direction: column;

                &:first-of-type{
                    margin-top: 25px;
                }

                label{
                    font-size: 15px;
                    margin-bottom: 8px;
                }

                input{
                    width: 100%;
                    height: 50px;
                    border-radius: 12px;
                    border: 1px solid $border__color__input;
                    background-color: $bg__color__input;
                    padding: 8px 15px;
                }

                svg{
                    width: 25px;
                    height: 25px;
                }
            }

            > a{
                position: absolute;
                bottom: 140px;
                right: 20px;
                font-weight: 500;
                text-decoration: none;
            }

            button{
                width: 100%;
                height: 50px;
                border-radius: 15px;
                background: linear-gradient(to right, $bg__color, $mancha__verde);
                border: 0;
                font-size: 18px;
                font-weight: 500;
                color: $bg__color__input;
            }

            .regsiter{
                display: flex;
                flex-direction: row;
                margin-top: 25px;
        
                > a{
                    margin-left: 3px;
                    text-decoration: none;
                }
            }
        }
    }

    footer{
        text-align: center;
        margin-top: 30px;
        color: $bg__color__input;
        padding-bottom: 20px;
        
        > h4{
            font-weight: 300;
        }
    }
    /*.mancha__verde{
        width: 500px;
        height: 500px;
        background: linear-gradient(
            to bottom right,
            $mancha__verde,
            #8e2de2
        );
        border-radius: 50%;
        box-shadow: 0 0 50px 20px $mancha__verde;
        position: absolute;
        bottom: -250px;
        right: -250px;
    }*/
}