$bg__color: #134FEE;
$color__text: #333;
$bg__color__button: #0b3eac;
$mancha__verde: #00A069;
$color__text: #f8f8f8;
$bg__color__input: #ebe8e8;
$border__color__input: #d9d9d9;
$color__h2__form: #333;

@mixin posicao_altura_index_icones_principais_form(){
    position: absolute;
    top: 35px;
    left: 15px;
    z-index: 990;
}

@mixin posicao_altura_index_icones_secundarios_form(){
    position: absolute;
    top: 35px;
    right: 15px;
    z-index: 990;
}

.cadastro__container{
    background-color: $bg__color;
    width: 100dvw;
    min-height: 100dvh;
    height: auto;
    position: relative;
    padding-bottom: 40px;

    header{
        padding: 15px 20px 30px 20px;
        width: 100%;

        img{
            width: 90px;
            height: 90px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
        }

        h2{
            text-align: center;
            font-weight: 600;
            color: $color__text;
        }

        h3{
            text-align: center;
            font-weight: 300;
            color: $color__text;
            font-size: 17px;
            padding-top: 10px;
        }
    }

    main{
        padding: 0 10px;

        form{
            background-color: $color__text;
            border-radius: 20px;
            padding: 20px 15px;
            position: relative;

            .form__camp{
                display: flex;
                flex-direction: column;
                position: relative;
                margin: 25px 0 20px 0;

                label{
                    font-size: 15px;
                    margin-bottom: 8px;
                }

                input, select{
                    width: 100%;
                    height: 50px;
                    border-radius: 12px;
                    border: 1px solid $border__color__input;
                    background-color: $bg__color__input;
                    padding: 8px 60px;
                }

                svg{
                    width: 30px;
                    height: 30px;

                    &:first-of-type{
                        @include posicao_altura_index_icones_principais_form();
                    }

                    &:last-of-type{
                        @include posicao_altura_index_icones_secundarios_form();
                    }
                }
            }

            > a{
                position: absolute;
                bottom: 140px;
                right: 20px;
                font-weight: 500;
                text-decoration: none;
            }

            button{
                margin-top: 20px;
                width: 100%;
                height: 50px;
                border-radius: 15px;
                background: linear-gradient(to right, $bg__color, $mancha__verde);
                border: 0;
                font-size: 18px;
                font-weight: 500;
                color: $bg__color__input;
            }

            .login{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 25px;

                p{
                    font-weight: 300;
                }

                > a{
                    margin-left: 3px;
                    text-decoration: none;
                }
            }
        }
    }
}