<div class="card__jogos__container">
    <div class="data__hora__jogo">
        <div class="data__jogo">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M2 12C2 8.22876 2 6.34315 3.17157 5.17157C4.34315 4 6.22876 4 10 4H14C17.7712 4 19.6569 4 20.8284 5.17157C22 6.34315 22 8.22876 22 12V14C22 17.7712 22 19.6569 20.8284 20.8284C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.8284C2 19.6569 2 17.7712 2 14V12Z" stroke="#555" stroke-width="1.5"></path> <path d="M7 4V2.5" stroke="#555" stroke-width="1.5" stroke-linecap="round"></path> <path d="M17 4V2.5" stroke="#555" stroke-width="1.5" stroke-linecap="round"></path> <path d="M2.5 9H21.5" stroke="#555" stroke-width="1.5" stroke-linecap="round"></path> </g>
            </svg>

            <h3>{{ dia }} de {{ mes }}. de {{ ano }}</h3>
        </div><!--data__jogo-->

        <div class="hora__jogo">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g>
            </svg>

            <h3>{{ horas }}:{{ minutos }}</h3>
        </div><!--hora__jogo-->
    </div><!--data__hora__jogo-->

    <div class="times__vs__jogo">
        <div class="times">
            <h2>{{ timeUm }}</h2>
            <h2>{{ timeDois }}</h2>
        </div><!--times-->

        <h3>VS</h3>
    </div><!--times__vs__jogo-->

    <div class="linha"></div>

    <div class="local">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z" stroke="#555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="#555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g>
        </svg>

        <h3>{{ local }}</h3>
    </div><!--local-->
</div><!--card__jogos__container-->