$cor__azul__fraco: #F3E8FF;
$cor__cinza__fraco: #d3cfcf99;
$cor__cinza__mediano: #7c7b7b99;
$cor__preto__claro: rgba(0,0,0,0.1);
$cor__cinza__70__porcento: #5a5858;

@mixin display__flex__row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin custom__h3{
    font-size: 14px;
    font-weight: 300;
    color: $cor__cinza__70__porcento;
    margin-left: 5px
}

.card__jogos__container{
    margin: 20px auto;
    box-shadow: 1px 1px 1px 1px $cor__preto__claro;
    border-radius: 15px;
    width: 1000px;
    max-width: 92%;
    height: auto;
    padding: 10px;

    .data__hora__jogo{
        @include display__flex__row();

        .data__jogo{
            @include display__flex__row();

            h3{
                @include custom__h3();
            }
        }

        .hora__jogo{
            @include display__flex__row();
            margin-left: 20px;

            h3{
                @include custom__h3();
            }
        }
    }

    .times__vs__jogo{
        width: 100%;
        margin-top: 20px;
        @include display__flex__row();

        .times{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            h2{
                font-size: 19px;
                font-weight: 400;

                &:last-child{
                    margin-top: 5px;
                    color: $cor__cinza__mediano;
                }
            }
        }

        h3{
            background-color: $cor__azul__fraco;
            padding: 8px 15px;
            border-radius: 10px;
            font-size: 17px;
            font-weight: 300;
        }
    }

    .linha{
        width: 100%;
        height: 1px;
        margin: 25px 0 10px 0;
        background-color: $cor__cinza__fraco;
    }

    .local{
        @include display__flex__row();

        h3{
            @include custom__h3();
        }
    }
}

svg{
    width: 22px;
    height: 22px;
}