$cor__verde__ativo: #00A63E;

.footer__container{
    width: 100dvw;
    padding: 7px 30px;
    border-top: 1px solid #d9d9d9;
    background-color: #fff;

    .icones__acoes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button{
            background-color: transparent;
            border: 0;

            &:first-of-type{
                svg{
                    width: 35px;
                    height: 35px;
                }

                h2{
                    margin-top: 0;
                    position: relative;
                    top: -3px;
                }
            }
            
            &:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4){
                svg{
                    width: 25px;
                    height: 25px;
                }
            }

            h2{
                font-size: 14px;
                font-weight: 300;
                margin-top: 4px;
                color: #c3c1c1;
            }
        }

        .ativo {
            h2 {
                color: $cor__verde__ativo; 
            }

            svg path{
                stroke: $cor__verde__ativo;
            }
        }
    }
}