<div class="jogos__container">
    <header>
        <h2>Jogos</h2>

        <div class="jogos__filtro__acoes">
            <button type="button" class="active" id="btn__todos" (click)="mostreTodosJogos()">Todos</button>
            <button type="button" id="btn__personalizado" (click)="mostreJogosFiltroPersonalizado()">Personalizado</button>
        </div><!--jogos__filtro__acoes-->

        <form action="" class="jogos__filtros" *ngIf="estaSendoExibidoFiltroPersonalizados">
            <div class="filtro__camp">
                <label>De</label>

                <input type="date">
            </div><!--filtro__camp-->

            <div class="filtro__camp">
                <label>Até</label>

                <input type="date">
            </div><!--filtro__camp-->
        </form><!--jogoso__filtro-->
    </header>

    <main>
        <div class="card__jogos__box">
            @for (jogo of jogos; track $index) {
                <app-card-games
                    [dia]="jogo.data_hora.data.dia"
                    [mes]="jogo.data_hora.data.mes"
                    [ano]="jogo.data_hora.data.ano"
                    [horas]="jogo.data_hora.hora.horas"
                    [minutos]="jogo.data_hora.hora.minutos"
                    [timeUm]="jogo.times.time_um"
                    [timeDois]="jogo.times.time_dois"
                    [local]="jogo.local.nome"
                ></app-card-games>
            }
        </div><!--card__jogos__box-->
    </main>

    <footer>
        <app-footer></app-footer>
    </footer>
</div><!--jogos__container-->